<!DOCTYPE html>
<html lang="en" style="height: 100%">
<head>
    <meta charset="UTF-8">
    <title><%= random %></title>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
    <link rel="/javascripts/widget.html"></link>
</head>
<body style="height: 100%">
<!--<input type="button" onclick="Export()" value="Export" />-->
<div id="widget-container" style="height: 90%"></div>
<script src="/socket.io/socket.io.js"></script>
<script src="/javascripts/canvas-designer-widget.js"></script>
<script>
    function Export(){
        alert('onclick');
        designer.toDataURL('image/png', function(dataURL) {
            socket.emit('uploadPicture', getParameterByName('canvasId'), dataURL);
            socket.emit('getPicture', getParameterByName('canvasId'));
        });
    }
    function getParameterByName(name, url) {
        if (!url) {
            url = window.location.href;
        }
        name = name.replace(/[\[\]]/g, "\\$&");
        var regex = new RegExp("[?&]" + name + "(=([^&#]*)|&|#|$)"),
            results = regex.exec(url);
        if (!results) return null;
        if (!results[2]) return '';
        return decodeURIComponent(results[2].replace(/\+/g, " "));
    }

    var socket = io();
    var designer = new CanvasDesigner();
    designer.widgetHtmlURL = '/javascripts/widget.html';
    designer.widgetJsURL = '/javascripts/widget.js';
    designer.appendTo(document.getElementById('widget-container'));
    if (!designer.iframe) {
        designer.appendTo(document.body);
    }
    designer.iframe.style.height = '100%'
    designer.addSyncListener(function (data) {
        console.log("syncing");
        socket.emit('syncCanvas', getParameterByName('boardId'), data);
    });
    socket.on('syncCanvas', function (data) {
        if(typeof data !== 'object')
            designer.syncData(JSON.parse(data));
        else
            designer.syncData(data);
    });
    socket.on('receivePicture', function (data) {
        window.open(data);
    });
    if(designer.pointsLength <= 0) {
        setTimeout(function() {
            socket.emit('addSocketToCanvas',getParameterByName('boardId'));
        }, 1000);
    }
</script>
</body>
</html>
