<!DOCTYPE html>
<html lang="en" style="height: 100%">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
    <link rel="/javascripts/widget.html"></link>
</head>
<body style="height: 100%">
</body>
</html>
